<script async src="https://mocralivelinks.com/livelinks/v1/designer/installer.js"></script>
<div data-livelinks="v1" style="display: none">
  <div style="position: relative; background: white; color: black;">
    <div style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px;">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'h-full' }}
    </div>
    <div style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%;">
      <h1 style="font-size: 8rem; background: white; padding: 2rem; z-index: 10;">
        {{ shop.name | escape }}
      </h1>
    </div>
  </div>
</div>
